APP_URL=
NODE_ENV =

# Auth

APP_SECRET=a05fad25052f2ddd7d17a1d0f2198e0a

# Database

DB_HOST =
DB_USER =
DB_PASS =
DB_NAME = gobarber

# Mongo

MONGO_URL=


# Redis

REDIS_HOST = 127.0.0.1
REDIS_POST = 6379

# Mail

MAIL_HOST =
MAKL_PORT =
MAIL_USER =
MAIL_PASS =

# Sentry

SENTRY_DSN =
