<div>
  <strong>Olá, {{ deliveryman }}</strong>
<p>Uma nova encomenda foi cadastrada, configura os detalhes abaixo:</p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Produto: </strong> {{ product }} <br />
</p>
  <small>
    O produto já se apresenta disponível para retirada.
  </small>
</div>
